USE [master]
GO
/****** Objeto: Database [Max] Fecha de script: 08/10/2026 11:29:13 ******/
CREATE DATABASE [Max]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Max', FILENAME = N'/var/opt/mssql/data/Max.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Max_log', FILENAME = N'/var/opt/mssql/data/Max_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Max].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Max]
GO
/****** Objeto: Table [dbo].[F_Ejercicio] Fecha de script: 08/10/2026 11:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[F_Ejercicio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](100) NULL,
	[explicacion] [varchar](100) NULL,
	[dificultad] [int] NULL,
	[tipo_curso] [int] NULL,
 CONSTRAINT [PK_F_Ejercicio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[M_Dificultad] Fecha de script: 08/10/2026 11:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Dificultad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_M_Dificultad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[M_Tipo_Curso] Fecha de script: 08/10/2026 11:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Tipo_Curso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_M_Tipo_Curso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[M_Dificultad] ON 

INSERT [dbo].[M_Dificultad] ([id], [descripcion]) VALUES (1, N'poca')
INSERT [dbo].[M_Dificultad] ([id], [descripcion]) VALUES (3, N'mucha')
SET IDENTITY_INSERT [dbo].[M_Dificultad] OFF
GO
SET IDENTITY_INSERT [dbo].[M_Tipo_Curso] ON 

INSERT [dbo].[M_Tipo_Curso] ([id], [descripcion]) VALUES (1, N'bien y tu')
INSERT [dbo].[M_Tipo_Curso] ([id], [descripcion]) VALUES (2, N'hola')
SET IDENTITY_INSERT [dbo].[M_Tipo_Curso] OFF
GO
ALTER TABLE [dbo].[F_Ejercicio]  WITH CHECK ADD  CONSTRAINT [FK_F_Ejercicio_M_Dificultad] FOREIGN KEY([dificultad])
REFERENCES [dbo].[M_Dificultad] ([id])
GO
ALTER TABLE [dbo].[F_Ejercicio] CHECK CONSTRAINT [FK_F_Ejercicio_M_Dificultad]
GO
ALTER TABLE [dbo].[F_Ejercicio]  WITH CHECK ADD  CONSTRAINT [FK_F_Ejercicio_M_Tipo_Curso] FOREIGN KEY([tipo_curso])
REFERENCES [dbo].[M_Tipo_Curso] ([id])
GO
ALTER TABLE [dbo].[F_Ejercicio] CHECK CONSTRAINT [FK_F_Ejercicio_M_Tipo_Curso]
GO
USE [master]
GO
